/* 
    Color palette:
    -   626F47
    -   A4B465
    -   F5ECD5
    -   F0BB78

    -   0D4715 (text)

    Font styles:
    -   Courier New (titles, subtitles)
    -   Verdana (text)
*/


* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background-color: #F5ECD5;
    padding: 30px;
}

h2,
p, 
li {
    color: #0D4715;
}

h2,
p {
    padding: 10px 0;
}

p,
li {
    font-family: Verdana;
    font-size: 13px;
}

.return-link{
    color: #A4B465;
}

.return-link:hover {
    color: #626F47;
}

.page-title {
    font-family: "Courier New";
    font-size: 40px;
    color: #F0BB78;
}

.description,
.ingredients,
.steps {
    font-family: 'Courier New';
    font-size: 25px;
    font-weight: 700;
}

.recipes-index {
    width: auto;
    padding: 20px;
    border: 10px inset #F0BB78;
}

.recipe {
    font-family: Verdana;
    font-weight: 800;
    color: #A4B465;
    display: inline-block;
    height: 10px;
    width: 20px;
}

.recipe:hover {
    color: #626F47;
}
